
img.button:hover {
	opacity: 0.5;
}

img.button {
  vertical-align: middle;
}

#ipAddress {
  width: 100px;
}

#controls {
  margin: auto;
  width: 75%;
}

#interfaceLegacy {
  display: none;
}

img.range-button:hover {
	opacity: 0.5;
}

img.buttonLegacy:hover {
	opacity: 0.5;
}

img.buttonLegacy {
  vertical-align: middle;
}

